<body>
  <audio id="cAudio">
    <source src="<%= audio_path('c_note.mp3')%>" type="audio/mpeg">
    <source src="<%= audio_path('c_note.ogg')%>" type="audio/ogg">
    <source src="<%= audio_path('c_note.wav')%>" type="audio/wav">
  </audio>

  <audio id="dAudio">
    <source src="<%= audio_path('d_note.mp3')%>" type="audio/mpeg">
    <source src="<%= audio_path('d_note.ogg')%>" type="audio/ogg">
    <source src="<%= audio_path('d_note.wav')%>" type="audio/wav">
  </audio>

  <audio id="eAudio">
    <source src="<%= audio_path('e_note.mp3')%>" type="audio/mpeg">
    <source src="<%= audio_path('e_note.ogg')%>" type="audio/ogg">
    <source src="<%= audio_path('e_note.wav')%>" type="audio/wav">
  </audio>

  <audio id="fAudio">
    <source src="<%= audio_path('f_note.mp3')%>" type="audio/mpeg">
    <source src="<%= audio_path('f_note.ogg')%>" type="audio/ogg">
    <source src="<%= audio_path('f_note.wav')%>" type="audio/wav">
  </audio>

  <audio id="gAudio">
    <source src="<%= audio_path('g_note.mp3')%>" type="audio/mpeg">
    <source src="<%= audio_path('g_note.ogg')%>" type="audio/ogg">
    <source src="<%= audio_path('g_note.wav')%>" type="audio/wav">
  </audio>

  <audio id="aAudio">
    <source src="<%= audio_path('a_note.mp3')%>" type="audio/mpeg">
    <source src="<%= audio_path('a_note.ogg')%>" type="audio/ogg">
    <source src="<%= audio_path('a_note.wav')%>" type="audio/wav">
  </audio>

  <audio id="bAudio">
    <source src="<%= audio_path('b_note.mp3')%>" type="audio/mpeg">
    <source src="<%= audio_path('b_note.ogg')%>" type="audio/ogg">
    <source src="<%= audio_path('b_note.wav')%>" type="audio/wav">
  </audio>

  <div id="instruments">
    <div id="c", class="box"></div>
    <div id="d", class="box"></div>
    <div id="e", class="box"></div>
    <div id="f", class="box"></div>
    <div id="g", class="box"></div>
    <div id="a", class="box"></div>
    <div id="b", class="box"></div>
  </div>

</body>




<!-- <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A4th1RQAelzqgY7wL53UGQt" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
