<!DOCTYPE html>
<html>
<!-- <link rel="shortcut icon" href="/images/favicon_box.ico" type="image/x-icon"> -->
<%= favicon_link_tag "favicon_box.ico" %>
<head>
  <title>Music Box</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
